__pycache__/
*.pyc
*.pyo
.git/
.gitignore
*.log
*.sqlite3
*.sqlite
*.db-journal
.DS_Store
.vscode/
.idea/
pylint_report.txt
daily_menus.json
users.json
.env
venv/
env/
build/
dist/
node_modules/
*.egg-info/
*.tar.gz
*.zip 